# Root .gitignore

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/dist
frontend/build
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/dist-ssr
frontend/*.local

# Backend
backend/venv
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/env/
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/.tox/
backend/.nox/
backend/.hypothesis/
backend/.coveragerc

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

venv/